@model List<LaptopForge.Data.Models.Models.Post>
@{
    ViewData["Title"] = "Blog";
}
<div>
    <ul>
    @foreach (var item in Model)
    {
        <li>
            <h1 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Title</h1>
            <p style="font-size:21px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@item.Content</p>
        </li>
    }
    </ul>
</div>
