@using LaptopForge.Web.ViewModels.ViewModels
@model LaptopForge.Web.ViewModels.ViewModels.CreatePostViewModel

@{
    ViewData["Title"] = "Create Post";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Create a New Post</h1>
            <hr />
            <form asp-action="GetPost" method="post">
                <div class="form-group">
                    <label asp-for="Title" class="control-label">Title:</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Content" class="control-label">Content:</label>
                    <textarea asp-for="Content" class="form-control" rows="6"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageUrl" class="control-label">Image URL:</label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="VideoUrl" class="control-label">Video URL:</label>
                    <input asp-for="VideoUrl" class="form-control" />
                    <span asp-validation-for="VideoUrl" class="text-danger"></span>
                </div>
                <p></p>
                <button type="submit" class="btn btn-primary">Create Post</button>
            </form>
        </div>
    </div>
</div>
