@{
    ViewData["Title"] = "About Us";
}

<div class="container-fluid bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="text-center mb-5">
                    <h1 class="display-4 text-primary">Welcome to LaptopForge</h1>
                    <p class="lead">Your ultimate destination for finding the perfect laptop.</p>
                </div>
                <div class="about-description bg-white p-4 rounded shadow">
                    <h2 class="mb-4 text-primary">Who We Are</h2>
                    <p>LaptopForge is your trusted guide to navigating the world of laptops. Whether you're a student, a professional, or an everyday user, we're here to help you find the ideal laptop that meets your needs and budget.</p>
                    <p>Our carefully curated collection ensures that you have access to reliable options without breaking the bank. With LaptopForge, discovering budget-friendly laptops has never been easier.</p>
                </div>
                <div class="about-technologies bg-white mt-5 p-4 rounded shadow">
                    <h2 class="mb-4 text-primary">Technologies We Use</h2>
                    <ul class="list-group">
                        <li class="list-group-item">.NET</li>
                        <li class="list-group-item">MS SQL Server</li>
                        <li class="list-group-item">Azure</li>
                        <li class="list-group-item">Entity Framework Core</li>
                        <li class="list-group-item">AutoMapper</li>
                        <li class="list-group-item">ASP.NET</li>
                        <li class="list-group-item">Bootstrap</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
