@model LaptopForge.Web.ViewModels.ViewModels.CreateLaptopInputModel
@{
	ViewData["Title"] = "Forge";
}
<style>
	.form-style-9 {
		max-width: 1000px;
		background: #FAFAFA;
		padding: 30px;
		margin: 50px auto;
		box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
		border-radius: 10px;
		border: 6px solid #305A72;
	}
</style>
<h1>Create Laptop</h1>
<form method="post" class="form-style-9">
	<div class="mb-3 col-xl-7"> 
		<label asp-for="Manufacturer" class="form-label"></label>
		<input asp-for="Manufacturer" class="form-control" />
		<span asp-validation-for="Manufacturer" class="text-danger"></span>
	</div>
	<div class="mb-3 col-xl-7">LEAVE FOR CATEGORY MAKE SELECT LIST
		<label asp-for="ModelName" class="form-label"></label>
		<input asp-for="ModelName" class="form-control" />
		<span asp-validation-for="ModelName" class="text-danger"></span>
	</div>
	<div class="mb-3 col-xl-7">
		<label asp-for="Screen" class="form-label"></label>
		<input asp-for="Screen" class="form-control" />
		<span asp-validation-for="Screen" class="text-danger"></span>
	</div>
	<div class="mb-3 col-xl-7">
		<label asp-for="ScreenSize" class="form-label"></label>
		<input asp-for="ScreenSize" class="form-control" />
		<span asp-validation-for="ScreenSize" class="text-danger"></span>
	</div>
	<div class="mb-3 col-xl-7">
		<label asp-for="CPU" class="form-label"></label>
		<input asp-for="CPU" class="form-control" />
		<span asp-validation-for="CPU" class="text-danger"></span>
	</div>
	<div class="mb-3 col-xl-7">
		<label asp-for="GPU" class="form-label"></label>
		<input asp-for="GPU" class="form-control" />
		<span asp-validation-for="GPU" class="text-danger"></span>
	</div>
	<div class="mb-3 col-xl-7">
		<label asp-for="Ram" class="form-label"></label>
		<input asp-for="Ram" class="form-control" />
		<span asp-validation-for="Ram" class="text-danger"></span>
	</div>
	<div class="mb-3 col-xl-7">
		<label asp-for="Storage" class="form-label"></label>
		<input asp-for="Storage" class="form-control" />
		<span asp-validation-for="Storage" class="text-danger"></span>
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>